.DS_Store
.Rhistory
.RData
.Rproj.user/

data/
output/
vcfs/
config/legacy_configs/
run_pipeline_commands.txt
build_eclipse_metadata_table.R
FUT2_comorbidity_analysis.R
FUT2_eQTL_credible_sets_tbl.tsv.gz
run_genotype_modeling_pipeline.R
FUT2.Rproj

*.rds
*.Rproj.user
